.contact {
  margin-top: 90px;
  text-align: center;
}
.contact h1 {
  font-size: 36px;
  font-weight: 600;
}
.contact p {
  width: 100%;
  max-width: 600px;
  padding: 10px 0;
  font-size: 16px;
  color: #9F9F9F;
  margin: auto;
}
.items {
  display: flex;
  width: 100%;
}
.items i {
  font-size: 24px;
}
.items span {
  font-size: 20px;
}
.left_item {
  width: 100%;
  padding: 10px 20px;
}
.right {
  width: 100%;
  padding-top: 20px;
}
.btt {
  text-align: center;
  margin: 20px 0px;
}
.btt button {
  background-color: #B88E2F;
  width: 237px;
  height: 55px;
  color: white;
}
